---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PowerTool 🔋</title>
	</head>
	<body>
		<h1>Step 1: Input Assignments</h1>
		<p>Tip, only input assignments that contribute to your final grade in PowerSchool, don't add assignments that are marked as "Excluded" or "Exempt"</p>
		
	</body>
</html>
